<html>
    <body>
        <h1>Add Form</h1>
        <a href="/products/display">Products Display</a>
        <form action="/products/add-process" method ="POST">
            Name : <input type="text" name="txt1" id="" required>
            Details : <input type="text" name="txt2" id="" required>
            Price : <input type="number" name="txt3" id="" required>
            <input type="submit" value="Submit">
        </form>
</html>