<html>
    <body>
        <h1>My form</h1>
        <form action="/form-process" method="post">
            <table>
                <tr>
                    <td>Number1</td>
                    <td><input type="number" name="txt1" placeholder="Enter Number1" required/></td>
                </tr>

                <tr>
                    <td>Number2</td>
                    <td><input type="number" name="txt2" placeholder="Enter Number2" required/></td>
                </tr>

                <tr>
                    <td><input type="submit"/></td>
                </tr>
            </table>
        </form>
    </body>
</html>