<html>
    <body>
        <h1>Student Form</h1>
        <a href="/students/sdisplay">Students Display</a>
        <form action="/students/sadd-process" method="post">
            Name : <input type="text" name="txt4" id="" required>
            Mobile No. : <input type="number" name="txt5" id="" required>
            Standard : <input type="text" name="txt6" id="" required>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>