<html>
    <body>
        <h1>User Form</h1>
        <a href="/users/udisplay">Users Display</a>
        <form action="/users/uadd-process" method="post">
            Name : <input type="text" name="txt7" id="" required>
            Age : <input type="number" name="txt8" id="" required>
            Gender : <input type="text" name="txt9" id="" required>
            <input type="submit" value="Submit">
        </form>
    </body>
    </body>
</html>