<% if(db_rows_array.length > 0){ %>
    
    <h1>Category Records</h1>
    <table border='1' >
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        <% for(var i = 0; i < db_rows_array.length; i++){ %>
            <tr>
                
                <td><%= db_rows_array[i].category_id %></td>
                <td><%= db_rows_array[i].category_name %></td>
                <td><a href="/categories/category-edit/<%= db_rows_array[i].category_id %>"> Edit </a> | <a href="/categories/delete/<%= db_rows_array[i].category_id %>"> Delete</a> </td>

            </tr>
            <%}%> 
        </table>
    
<% }else{ %>
<h1>No records found</h1><br><br>
<% } %>
<h1>Product</h1>
<a href="/products/product-form"><h2>Add Data in Product Section</h2></a>
<a href="/products/product-display"><h2>View Product Records</h2></a>
<h1>User</h1>
<a href="/users/user-form"><h2>Add Data in User Section</h2></a>
<a href="/users/user-display"><h2>View User Records</h2></a>
<h1>Category</h1>
<a href="/categories/category-form"><h2>Add Data in Category Section</h2></a>
<a href="/categories/category-display"><h2>View Category Records</h2></a>