<html>
    <body>
        <h1>Products Form</h1>

        <h1>

            <form action="/products/form-process-product" method ="post">
                
                Name : <input type="text" name="txt1" id="" required>
                Details : <input type="text" name="txt2" id="" required>
                Price : <input type="number" name="txt3" id="" required>
                Stock : <input type="number" name="txt4" id="" required>
                
                <input type="submit" value="Submit">
                
            </form>
        </h1>

        <h1>Product</h1>
        <a href="/products/product-form"><h2>Add Data in Product Section</h2></a>
        <a href="/products/product-display"><h2>View Product Records</h2></a>
        <h1>User</h1>
        <a href="/users/user-form"><h2>Add Data in User Section</h2></a>
        <a href="/users/user-display"><h2>View User Records</h2></a>
        <h1>Category</h1>
        <a href="/categories/category-form"><h2>Add Data in Category Section</h2></a>
        <a href="/categories/category-display"><h2>View Category Records</h2></a>

</html>